// ANIMATION GRIDS
.animationGrid {
	width: 24rem;
	height: 20rem;
	display: flex;
	flex-wrap: wrap;
}

.animationGrid div {
	height: 2rem;
	width: 2rem;
}

.shapeBlock {
	&sun {
		background: #ffc107;
	}

	&pets {
		background: #2c3e50;
	}

	&leaf,
	&lowMaint {
		background: #78e08f;
	}

	&outline {
		background: #427c4e;
	}
}
