// ANIMATION GRIDS
.animationGrid {
	width: 24rem;
	height: 20rem;
	// background-color: $lightAccent;
	display: flex;
	flex-wrap: wrap;
}

.animationGrid div {
	height: 2rem;
	width: 2rem;
	border: 1px solid black;
	// background-color: orangered;
}

.landed {
	// background: orangered;
}

.animationGrid .hidden {
	// background: royalblue;
	// visibility: hidden;
	// border-bottom: 2px solid yellow;

	& .landed {
		background: orangered;
	}
}

.shapeBlock {
	&sun {
		background: yellow;
	}

	&pets {
		background: #333;
	}

	&leaf,
	&lowMaint {
		background: yellowgreen;
	}

	&outline {
		background: green;
	}
}
