// ANIMATION GRIDS
.landed {
	background: orangered;
}

.shapeBlock {
	&sun {
		background: yellow;
	}

	&cat {
		background: #333;
	}

	&leaf,
	&cactus {
		background: yellowgreen;
	}

	&stem,
	&outline {
		background: green;
	}
}

// RESULTS CARDS GRID
