.tileGrid {
	width: 20rem;
	height: 20rem;
	background-color: $lightAccent;
	display: flex;
	flex-wrap: wrap;
}

.tileGrid div {
	height: 2rem;
	width: 2rem;
	border: 1px solid black;
	// background-color: orangered;
}

.landed.base {
	opacity: 0;
}

.shapeBlock {
	&cat {
		background: #333;
	}

	&leaf {
		background: yellowgreen;
	}

	&stem {
		background: green;
	}
}
