.resultsSection {
	background: $lightAccent;
	overflow: hidden;

	h2 {
		color: $darkAccent;
		padding-bottom: 4rem;
		text-align: center;
	}

	.contentContainer {
		padding-left: 8rem;
		position: relative;
		display: flex;
		border-left: 3px solid $midAccent;
		border-right: 3px solid $midAccent;
	}

	.textContent {
		width: 75%;
	}

	.animationGrid {
		position: absolute;
		top: 0;
		right: 0;
	}
}

// RESULTS CARDS GRID
.resultsGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 2rem;
}

.resultsContent {
	display: grid;
	grid-template-areas: '';
}

.card {
	border: 5px solid $darkAccent;
	height: 10rem;
	background: linear-gradient(0deg, rgba(#000, 0.6)),
		url(../../assets/cards-background.jpg);
	background-size: cover;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	h3 {
		font-weight: 700;
		color: $lightAccent;
		font-size: 20px;
	}
}
