a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
  line-height: 1.6;
}

.wrapper {
  border: solid 1px orangeRed;
  width: 95%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 2.5rem 0;
  font-size: 1.8rem;
}

.contentContainer {
  height: 100%;
  width: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  height: 100vh;
}

h2 {
  font-weight: 700;
  font-size: 3rem;
  font-family: 'Press Start 2P', cursive;
}

.animationGrid {
  width: 24rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.animationGrid div {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
}

.animationGrid .hidden .landed {
  background: orangered;
}

.shapeBlocksun {
  background: yellow;
}

.shapeBlockpets {
  background: #333;
}

.shapeBlockleaf, .shapeBlocklowMaint {
  background: yellowgreen;
}

.shapeBlockoutline {
  background: green;
}

button {
  width: 150px;
  padding: 1rem 0;
  font-family: 'lato', sans-serif;
  font-weight: 700;
  background-color: #05386b;
  border: none;
  color: #d5e6e4;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 0 auto;
}

header {
  border: solid 1px orangered;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65))), url(../../assets/hero-img.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65)), url(../../assets/hero-img.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 6rem;
  color: #d5e6e4;
  line-height: 1;
}

header h3 {
  color: #d5e6e4;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 2.6px;
  background: #05386b;
  padding: 5px;
}

header p {
  margin: 1.5rem 0;
}

header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .contentContainer {
  max-width: 700px;
}

header .descriptionContainer {
  background: rgba(0, 0, 0, 0.6);
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 20px 20px;
}

.formSection {
  background-color: #32837e;
  position: relative;
  overflow: hidden;
}

.formSection .formContainer {
  width: 400px;
  margin: 0 auto;
}

.formSection .contentContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formSection .animationGrid {
  position: absolute;
}

.formSection .animationGrid1 {
  top: -10rem;
  left: 0;
}

.formSection .animationGrid2 {
  top: 0;
  right: 0;
}

form {
  line-height: 4;
}

input[type='radio'] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

input[type='radio'] + label {
  display: block;
  position: relative;
  padding: 0 1.5rem;
}

input[type='radio'] + label::before {
  content: '';
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: #d5e6e4;
  border-radius: 50%;
  vertical-align: middle;
}

input[type='radio']:checked + label::before {
  background: #d5e6e4;
}

input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  top: 30.4px;
  left: 19.6px;
  border: 4px solid #05386b;
  border-radius: 50%;
  background: #05386b;
  height: 10px;
  width: 10px;
}

input[type='radio']:focus + label::before {
  border: #5d9dd5 solid 1px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 8px #5e9ed6;
          box-shadow: 0 0 8px #5e9ed6;
}

.resultsSection {
  background: #d5e6e4;
  overflow: hidden;
}

.resultsSection h2 {
  color: #05386b;
}

.resultsSection .contentContainer {
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.resultsSection .animationGrid {
  position: absolute;
  top: 0;
  right: 0;
}

.resultsContainer {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'resultsGrid AnimationContainer ';
}

.resultsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: resultsGrid;
}

.resultsContent {
  display: -ms-grid;
  display: grid;
      grid-template-areas: '';
}

.card {
  border: 5px solid #05386b;
  height: 10rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6))), url(../../assets/cards-background.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6)), url(../../assets/cards-background.jpg);
  background-size: cover;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card h3 {
  font-weight: 700;
  color: #d5e6e4;
  font-size: 20px;
}
